/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.vagrant/
.phpstorm.meta.php
_ide_helper*
.idea/

/bootstrap/compiled.php
/vendor

/build/logs
/build/coverage

/app/tests/_log

composer.phar

.DS_Store

/.idea
/_ide_helper.php

/app/config/packages
/public/packages

/node_modules

.env